{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('movie') }}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center mt-5">
        <div class="box d-none">
            <div class="box-inner">
                <div class="box-front">
                    <div class="cross-icon" title="Fermer"><i class="fa fa-times text-white" aria-hidden="true"></i></div>
                    <div class="arrow-icon"><i class="fa fa-2x fa-arrow-circle-right text-white" aria-hidden="true"></i></div>
                    <img class="card-img-top img-box-front">
                </div>
                <div class="box-back">
                    <div class="cross-icon" title="Fermer"><i class="fa fa-times text-white" aria-hidden="true"></i></div>
                    <div class="arrow-iconBack"><i class="fa fa-2x fa-arrow-circle-right text-white" aria-hidden="true"></i></div>
                    <h2 class="movie-title"></h2>
                    <p class="movie-originalTitle"></p>
                    <p class="movie-runtime"></p>
                    <p class="movie-overview text-justify"></p>
                    <a class="btn btn-primary movie-detail">Voir le détail</a>
                </div>
            </div>
        </div>
        {% if movies %}
            <div class="container-fluid mt-5 collection-movie">
                <div class="row justify-content-center align-items-center">
                    {% for movie in movies %}
                        <div class="movie-card col-2 mt-5 d-flex justify-content-center"
                             data-id="{{ movie.id }}"
                             data-title="{{ movie.title }}"
                             data-originaltitle="{{ movie.originalTitle }}"
                             data-runtime="{{ movie.runtime }}"
                             data-overview="{{ movie.overview }}"
                             data-posterpath="{{ movie.posterPath }}">
                            {% if movie.posterPath %}
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.posterPath }}" alt="{{ movie.posterPath }}">
                            {% else %}
                                <img class="card-img-top" src="{{ asset('images/image-non-disponible.jpg') }}" alt="image non disponible">
                            {% endif %}
                        </div>
                        {% if loop.index is divisible by(6) or loop.last %}
                            <div class="movie_board"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('movie') }}
    {% endblock %}

{% endblock %}
