{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('movie') }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="container m-5 p-5 bg-white rounded">
            <div class="row">
                <div class="col-4">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.posterPath }}" alt="{{ movie.posterPath }}">
                </div>
                <div class="col-7 offset-1">
                    <h2>{{ movie.title }}</h2>
                    <p>({{ movie.originalTitle }})</p>
                    <p>Durée : {{ movie.runtime }} min</p>
                    <p>Date de sortie : {{ movie.releaseDate|date }}</p>
                    <p>Budget : {{ movie.budget|price }}{{ money(movie.originalLanguage) }}</p>
                    <p>Recettes : {{ movie.revenue|price }}{{ money(movie.originalLanguage) }}</p>
                    <p>Langue original : {{ movie.originalLanguage }}</p>
                    <p>Résumé : <br/> <span class="text-justify">{{ movie.overview }}</span></p>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('movie') }}
    {% endblock %}
{% endblock %}

